/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #FF0070;
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --text-color-black: #000028;
  --accent-color: #DB00FF;
  --border-color: #FF007066;
  --bg-image: url(../images/cover-image-dark.png);
  --text-size: 18px;
  --margin-10: 10px;
  --margin-20: 20px;
  --margin-30: 30px;
  --margin-40: 40px;
  --margin-50: 50px;
  --margin-60: 60px;
  --margin-80: 80px;
  --padding-10: 10px;
  --padding-20: 20px;
}
